nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: lightblue;
  color: black;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

li {
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

li:hover {
  cursor: pointer;
  background-color: white;
  transition: all 0.2s linear;
}

a {
  text-decoration: none;
}

p:hover {
  color: red;
}

a:visited {
  color: black;
}
.todoDiv, .todosDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
