.game {
    display: flex;
    flex-direction: row;
    width: 62%;
   background-color: #ff9471;
    border-radius: 0 20px 20px 0;
}

.game-info {
    margin-left: 20px;
}
.move-list-item-selected{
    font-weight: bold;
    box-shadow: 2px 3px 3px #565555;
}
.buttons,.toggle
{
    cursor: pointer;
    background-color: #7a7ad9;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 2px;
    border-radius: 20%;

}
.toggle
{
    box-shadow: 2px 3px 3px #565555;
    background-color: #1eaf1e;
    border: 1px solid black;
    margin-top: 10px;
}
.buttons:hover
{
    box-shadow: 2px 3px 3px #565555;
}
