.rightBar > h1, .leftBar > p {
    color: black;
}

.rightBar > .text > p {
    padding-left: 0;
}

.rightBar > .text {
    padding-right: 35%;
    line-height: 1.5;
}

.rightBar {
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 3%;
}

.rightBar > p {
    text-align: justify;
    padding-left: 0;
}

.rightBar > h4 {
    padding-left: 0
}