.error {
  color: red;
}

.options {
  background-color: #71b1ec;
  color: white;
  padding: 12px;
  width: 15vw;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  outline: none;
}
