.main > .left {
    float: left;
    width: 25%;
    background-color: #005b63;
    border-radius: 10px;
}

.main > .content {
    width: 75%;
    margin-left: 25%;
}

.main {
    max-width: 1000px;
}

@media (max-width: 760px) {

}
